<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type=" ~/Shared/image/x-icon" href="~/Shared/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Shared/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">İş Bul</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/Anasayfa/Index">Ana Sayfa</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Ilanlar/Index">İş İlanları</a></li>
                        @if (User.IsInRole("1"))
                        {
                            <li class="nav-item"><a class="nav-link" href="/Admin/Kategori">Kategori Yönet</a></li>
                            <li class="nav-item"><a class="nav-link" href="/MusteriYonet/Kullanici">Kullanıcı Yönet</a></li>
                            <li class="nav-item"><a class="nav-link" href="/SirketYonet/Sirket">Şirket Yönet</a></li>


                        }
                        @if (User.IsInRole("3"))
                        {

                            <li class="nav-item"><a class="nav-link" href="/SirketIlanlar/Ilanlar">İlanlarım</a></li>
                        }

                        <li class="nav-item"><a class="nav-link" href="/Anasayfa/Hakkımızda">Hakkımızda</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">@Session["kullaniciAdi"]</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/MusteriYonet/KullaniciDetails/@Session["kullaniciID"]">Porfil</a></li>
                                    @if (User.IsInRole("2"))
                                    {
                                        <li><a class="dropdown-item" href="/MusteriYonet/Favori">Kaydedilenler</a></li>
                                    }


                                    <li><a class="dropdown-item" href="/Güvenlik/LogOut">Çıkış Yap</a></li>
                                </ul>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giriş</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li>
                                        <p class="dropdown-header">İş Arayan İçin</p>
                                        <a class="dropdown-item" href="/Güvenlik/Login">Giriş Yap</a>
                                        <a class="dropdown-item" href="/Güvenlik/Register">Kayıt Ol</a>
                                    </li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <p class="dropdown-header">İş Veren İçin</p>
                                        <a class="dropdown-item" href="/GüvenlikSirket/Login">Giriş Yap</a>
                                        <a class="dropdown-item" href="/GüvenlikSirket/Register">Kayıt Ol</a>
                                    </li>
                                </ul>
                            </li>
                        }



                    </ul>


                </div>
            </div>
        </nav>
        <!-- Header-->
        <!-- Features section-->
        <!-- Testimonial section-->
        <!-- Blog preview section-->
        @RenderBody()
    </main>
    @RenderSection("body", false);
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Shared/js/scripts.js"></script>
    @RenderSection("scripts", false);
</body>
</html>
