

<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">İş Fırsatlarını Keşfetmek Artık Daha Kolay</h1>
                    <p class="lead fw-normal text-muted mb-4">İş Bulma Platformu olarak, herkesin hayalindeki işi bulmasına yardımcı olmak için buradayız. Misyonumuz, iş arayanları ve iş verenleri bir araya getirerek, iş dünyasına değer katmaktır. Ücretsiz ve premium hizmetlerimizle destek olabilirsiniz.</p>
                    <a class="btn btn-primary btn-lg" href="/Ilanlar/Index">İş İlanlarına Göz At</a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/Shared/assets/HakkımızdaResim.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Kuruluş Hikayemiz</h2>
                <p class="lead fw-normal text-muted mb-0">İş Bulma Platformu, 2020 yılında bir grup girişimci tarafından kuruldu. Amacımız, iş arama sürecini daha kolay ve etkili hale getirmekti. Bugün, milyonlarca kullanıcıya iş imkanı sunuyoruz ve büyümeye devam ediyoruz.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/Shared/assets/resim2.jpeg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Geleceğe Yönelik Vizyonumuz</h2>
                <p class="lead fw-normal text-muted mb-0">İş Bulma Platformu olarak, iş dünyasını daha adil ve erişilebilir hale getirmek istiyoruz. Teknolojiyi kullanarak iş arayanların ve iş verenlerin ihtiyaçlarını karşılayan yenilikçi çözümler sunmayı hedefliyoruz.</p>
            </div>
        </div>
    </div>
</section>