@using IsBulmaProject.Models
@model  Kullanici


<div class="container">
    <h2 class="my-4">Kullanıcı Kayıt Formu</h2>
    <form action="/MusteriYonet/KullaniciEkle" method="post">
        <div class="mb-3">
            <label for="KullaniciAdi" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="KullaniciAdi" name="KullaniciAdi" required>
        </div>
        <div class="mb-3">
            <label for="KullaniciSoyadi" class="form-label">Kullanıcı Soyadı</label>
            <input type="text" class="form-control" id="KullaniciSoyadi" name="KullaniciSoyadi" required>
        </div>
        <div class="mb-3">
            <label for="Sehir" class="form-label">Şehir</label>
            <input type="text" class="form-control" id="sehir" name="sehir" required>
        </div>
        <div class="mb-3">
            <label for="Mail" class="form-label">E-posta</label>
            <input type="email" class="form-control" id="Mail" name="Mail" required>
        </div>
        <div class="mb-3">
            <label for="Telefon" class="form-label">Telefon</label>
            <input type="tel" class="form-control" id="telefon" name="telefon" required>
        </div>
        <div class="mb-3 col-md-2">
            <label for="DogumTarihi" class="form-label">Doğum Tarihi</label>
            <input type="date" class="form-control" id="dogumTarihi" name="dogumTarihi" required>
        </div>
        <div class="mb-3 col-md-2">
            <label for="Sifre" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="sifre" name="sifre" required>
        </div>
        <div class="mb-3 col-md-2">
            <label for="RoleID" class="form-label">Kullanici Rolü</label>
            <select class="form-control" id="RoleID" name="RoleID" value="" required>
                <option value="">Kullanici Rolü Seçiniz</option>
                <option value="1">Admin</option>
                <option value="2" selected>Kullanici</option>
            </select>
        </div>
        <div class="mb-3 ">
            <label for="Sifre" class="form-label">Kullanici Ozet</label>
            <input type="text" class="form-control" id="kullaniciOzet" name="kullaniciOzet" value="" required>
        </div>
        <button type="submit" class="btn btn-primary">Kullanici Ekle</button>
    </form>
</div>